{% extends "layout.html" %}
{% block body_content %}

<h1 class="text-center"><strong>Git Basics</strong></h1>

<div class="container-fluid text-center">
    <div class="container">
        <h3>Initialize a local git repository</h3>
        <p>The git init command creates a new Git repository. It can be used to convert an existing, unversioned project to a Git repository or initialize a new, empty repository. Most other Git commands are not available outside of an initialized repository, so this is usually the first command you'll run in a new project.</p>
        <p><code>git init</code></p>
        <hr>

        <h2>Staging and Committing</h2>
        <br>
        <h3>Stage all untracked changes</h3>
        <p>The git add command adds a change in the working directory to the staging area. It tells Git that you want to include updates to a particular file in the next commit. However, git add doesn't really affect the repository in any significant way—changes are not actually recorded until you run git commit.</p>
        <p>To add all of your changes to the staging area, use the command:</p>
        <p><code>git add .</code></p>

        <h3>Commit your changes to the repository</h3>
        <p>The git commit command captures a snapshot of the project's currently staged changes. Committed snapshots can be thought of as “safe” versions of a project—Git will never change them unless you explicitly ask it to.</p>
        <p><code>git commit -m "Message"</code></p>

        <h3>Push your changes to your remote repository</h3>
        <p>The git push command is used to upload local repository content to a remote repository. Pushing is how you transfer commits from your local repository to a remote repo. It's the counterpart to git fetch, but whereas fetching imports commits to local branches, pushing exports commits to remote branches.</p>
        <p><code>git push</code></p>
        <hr>

        <h2>Branching</h2>
        <p>In Git, branches are a part of your everyday development process. Git branches are effectively a pointer to a snapshot of your changes. When you want to add a new feature or fix a bug—no matter how big or how small—you spawn a new branch to encapsulate your changes.</p>

        <h3>View branches</h3>
        <p>To see what branch you're on and to see other branches available locally, use the command:</p>
        <p><code>git branch</code></p>

        <h3>Create a branch</h3>
        <p>To create a branch locally, use the command:</p>
        <p><code>git branch &lt;your branch name&gt;</code></p>

        <h3>Switch to a branch</h3>
        <p>To change to another branch, use the command:</p>
        <p><code>git checkout &lt;your branch name&gt;</code></p>
    </div>
</div>

{% endblock %}