{% extends "layout.html" %}
{% block body_content %}

  <!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../static/Images/Screenshot 2024-08-23 at 15.27.24.png" alt="sky bridge logo" style="width:100%">
    <div class="w3-container">

      <h3><b>WELCOME TO SKY</b></h3>

    </div>

    <div class="w3-container">
      <p> Hello and welcome to Sky Bridge! We’re the Sky Graduate class of 2024 and we're excited for you to join us at Sky. We know just how thrilling—and sometimes daunting—this transition can be, but trust us when we say that you’re in for an incredible experience.
        As you step into your new roles, remember that you're not just joining a company; you're becoming part of a community that thrives on innovation, creativity, and collaboration. The leap from being a student to a tech professional is a big one, but it’s also filled with opportunities to learn, grow, and make a real impact.
        Sky Bridge was created to help make your transition as smooth as possible. Whether you're looking for advice, tips, or just some friendly words of encouragement, we've got you covered. We've been in your shoes, and we know that sometimes all it takes is a little guidance to help you find your footing.
        We know you'll bring fresh perspectives, new ideas, and boundless energy to your new role —qualities that are incredibly valuable here at Sky. We're confident that you’ll thrive, contribute in meaningful ways, and help take Sky to new heights.
        Welcome to the team! You've got this, and we can’t wait to see the amazing things you’ll accomplish!
        Best wishes, 2024 Graduates
      <div class="w3-row">
        <div class="w3-col m8 s12">
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">

      <h3><b>ABOUT THIS WEBSITE</b></h3>
      <div class="image-row">
        <img src="../static/Images/Billy.jpg" alt="Team picture">
        <img src="../static/Images/Cameron.jpg" alt="Team picture">
        <img src="../static/Images/Mayson.jpg" alt="Team picture">
        <img src="../static/Images/Charley.png" alt="Team picture">
        <img src="../static/Images/Abi.jpg" alt="Team picture">
      </div>
    </div>
      <p> Welcome to your go-to resource for all things related to your journey at Sky! We’ve designed this website with one goal in mind: to make your transition from bootcamp to your first rotation as seamless and successful as possible.
        Starting a new role is both exciting and challenging, and we know how important it is to have the right support and information at your fingertips. That’s why we’ve packed this site with a variety of tools and resources tailored specifically to your needs as you navigate your transition.</p>
      <ul>
        <li>Choosing Your Rotation: One of the first major decisions you'll make is selecting your rotation. We understand how crucial this choice is in shaping your career path, so we’ve provided guides, insights, and testimonials to help you make an informed decision. Whether you're looking to dive into a specific technology, explore different teams, or align your work with your long-term career goals, you'll find plenty of information to guide you.</li>
        <li> Bootcamp Knowledge: The knowledge and skills you’ve gained during your bootcamp are the foundation of your success at Sky. But we also know that it can be easy to feel overwhelmed or lose track of what you’ve learned as you move forward. That’s why we’ve included resources to help you retain, reinforce, and build upon your bootcamp learnings - we’ve got you covered. </li>
        <li>Orienting Yourself to Sky’s Spaces: Sky is a dynamic, fast-paced environment with a lot to offer. Whether it’s navigating our physical spaces or understanding our organizational structure, this website will help you get acclimated quickly. We’ve included maps, information about Sky's different sites, and tips on how to make the most of your time here. Our goal is to help you feel at home at Sky from day one.</li> </ul>
        <p> encourage you to explore all that this site has to offer and to use it as your companion throughout your journey at Sky. Remember, you’re not alone—this website, along with the entire Sky community, is here to support you every step of the way.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-white">
      <h4><b>TELL US ABOUT YOU</b></h4>
      <p>We’re excited to get to know you better! This is your space to share a bit about who you are, your passions, and what drives you. Whether it’s your journey so far, your interests in tech, or what you’re looking forward to at Sky, we’d love to hear it. Don’t be shy—this is your chance to let your personality shine and help us understand how we can best support you on your journey.
        Feel free to include anything that makes you, you—your hobbies, your goals, and even what you’re excited to learn next. We can’t wait to learn more about you!</p>
      <form action="#" method="post">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
<br>
        <label for="gradtype">Scheme:</label>
        <input type="text" id="gradtype" name="gradtype" placeholder="Enter your scheme(e.g., Technology Grad, Cyber Grad, etc.)" required>
<br>
        <label for="JoinYear">Joining Year:</label>
        <input type="number" id="JoinYear" name="JoinYear" placeholder="(e.g.2024)" required>
<br>
        <label for="excitement">What are you most excited about in joining Sky?</label>
        <textarea id="excitement" name="excitement" rows="4" placeholder="Share your excitement!" required></textarea>
<br>
        <label for="interests">Roles you might be interested in:</label>
        <select id="interests" name="interests" required>
            <option value="">Select a role</option>
            <option value="Software Development">option1</option>
            <option value="Project Management">option2</option>
            <option value="Data Analysis">option3</option>
            <option value="Marketing">option4</option>
        </select>
<br>
        <label for="funFact">Fun Fact About You:</label>
        <input type="text" id="funFact" name="funFact" placeholder="Share a fun fact about yourself" required>

        <input type="submit" value="Submit">
    </form>
    </div>
  </div><hr>

  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>RECENT POSTS</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <span class="w3-large">Lorem</span><br>
        <span>Sed mattis nunc</span>
      </li>
      <li class="w3-padding-16">
        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li>
      <li class="w3-padding-16">
        <span class="w3-large">Dorum</span><br>
        <span>Ultricies congue</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>
    </ul>
  </div>
  <hr>

  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Navigation</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

{% endblock %}