{% extends "layout.html" %}
{% block body_content %}
<body>
<h1 class="heading-gradient">Leeds</h1>

    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h1 class="heading-gradient">Whitehall</h1>
            <p>Sky Leeds operates from two sites. You can find the contact centre in Central Square. The Digital Hub is located at Sky Whitehall. Both locations have a restaurant and coffee bar as well as a chill-out area with pool tables</p>
            </div>
        <div class="w3-container">
            <h3><b>Getting to Leeds</b></h3>
            </div>
        <img src="../static/Images/Sky_Leeds.jpg" alt="Leeds office location" width="100%">
        <div class="w3-container">
           <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <b>Walking</b>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>The Whitehall office is a short walk to the station.</strong> When exiting the station head to Aire street and follow it along for eleven minutes as it becomes Whitehall Road. Just after crossing the footbridge the office is on your right.
      </div>
    </div>
  </div>
</div>
            <h3><b>Passes and Access</b></h3>
            <p>As soon as you can raise a request on Spark to get a pass. Your manager should approve this for you and this will enable you access to the office. If your pass hasn't been printed yet ask your manager to grant you visitor access and someone will collect you from reception. </p>
            </div>
            </div>
            <div class="w3-row">
              <div class="w3-col m8 s12">
              </div>
            </div>

</body>
{% endblock %}