{% extends "layout.html" %}
{% block body_content %}
<body>
<h2>Livingston</h2>
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h3><b>Getting to Watermark</b></h3>
            </div>
        <img src="Images/Watermark.png" alt="watermark office location" width="100%">
        <div class="w3-container">
            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
              tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            <div class="w3-row">
              <div class="w3-col m8 s12">
              </div>
            </div>
          </div>
    </div>
</body>
{% endblock %}