{% extends "layout.html" %}
{% block body_content %}
<body>
<h1 class="heading-gradient">Livingston</h1>
    <div class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <br>
            <h1><b>Watermark</b></h1>
            <p>Sky Watermark is Livingston's central site. The Livingston campus has a contact centre, gym, beauty salon and restaurant. All of which are connected to Watermark by shuttle bus. Inside Watermark itself there is a coffee bar and  Watermark is open Monday to Thursday and does not open on Fridays. If you wish to work from the office on Fridays you can grab a desk at the contact centre.</p>
            </div>
        <div class="w3-container">
            <h3><b>Getting to Watermark</b></h3>
            </div>
        <img src="../static/Images/Watermark.png" alt="watermark office location" width="100%" style="margin-bottom: 20px; padding: 20px; box-sizing: border-box;">
        <br>
        <br>
        <div class="w3-container">
           <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <b>Car</b>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>The Watermark office has a free on-site car park.</strong> You need to request a permit and register your car on the ParkMe app. It is first come first served and has electric charging points. Sky also promotes ride sharing as much as possible to minimise the environmental impact of travelling by car.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <b>Train</b>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Many people choose to take the train from Edinburgh or Glasgow to the office.</strong> The closest train station to the campus is Livingston North. The train from Edinburgh is the Edinburgh Waverly to Helensburgh Central service. Sky runs a free shuttle bus service from Livingston North to campus. The service comes every 20 minutes from the station bridge.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <b>Bus</b>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>If you are in Livingston the free sky shuttle bus service doesn't just stop at the station.</strong> It comes every twenty minutes and stops at St John's Hospital (Alderstone Road), the Shopping Centre Bus Station (outside Stack & Still) and Sky 2 (Baird Road).
      </div>
    </div>
  </div>
</div>
            <br>
            <h3><b>Passes and Access</b></h3>
            <p>As soon as you can raise a request on Spark to get a pass. Your manager should approve this for you and this will enable you access to the office. If your pass hasn't been printed yet ask your manager to grant you visitor access and someone will collect you from reception. </p>
            </div>
            </div>
            <div class="w3-row">
              <div class="w3-col m8 s12">
              </div>
            </div>
          </div>

</body>
{% endblock %}