{% extends "layout.html" %}
{% block body_content %}
  <div class="container">
      <div class="text-center">
        <h1>Meet The Roles</h1>
      </div>

      <div class="row">
<!--          Spacer column to center the blog section-->
          <div class="col-1"></div>

        <div class="col-10">
            <!-- Blog for associate software engineer -->
            <div class="w3-card-4 w3-margin w3-white">
              <div class="w3-container">
                <h3><b>ASSOCIATE SOFTWARE ENGINEER</b></h3>
                <h5>Sana Jamal, <span class="w3-opacity">23rd August, 2024</span></h5>
              </div>

              <div class="w3-container">
                  <p>As a Software Engineer at Sky, you will play a vital role in designing, developing, and maintaining innovative software solutions that enhance our products and services. You will work within a collaborative team environment, applying your technical expertise to create high-quality, scalable, and reliable software systems.</p>
                  <p>Your responsibilities will include writing and reviewing code, developing new features, and ensuring that software meets performance, security, and reliability standards. You will be involved in all stages of the software development lifecycle, from gathering requirements and designing solutions to testing and deployment.</p>
                  <p>You will work closely with other engineers, product managers, and stakeholders to understand project requirements and deliver solutions that align with business goals. Your role will involve troubleshooting and resolving technical issues, optimising system performance, and continually improving the software development process.</p>
                  <p>Staying current with industry trends and emerging technologies will be essential, as you will apply best practices and innovative approaches to solve complex problems and drive continuous improvement.</p>
                  <p>Your contribution will be crucial in delivering cutting-edge software that supports Sky’s mission to provide exceptional customer experiences and drive business success.</p>
              </div>
            </div>
            <hr>
            <!-- Blog for product analyst -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRODUCT ANALYST</b></h3>
                  <h5>David Guest, <span class="w3-opacity">23rd August, 2024</span></h5>
                </div>

                <div class="w3-container">
                    <p>As a Product Analyst at Sky, you will play a versatile role that combines both technical and non-technical skills to drive product success. You'll analyse data and customer insights to inform product development and strategy, collaborating closely with product managers, engineers, and other stakeholders. Your responsibilities will include gathering and interpreting data, identifying trends, and providing actionable recommendations to enhance our products.</p>
                    <p>On the technical side, you may use tools such as SQL for querying databases, Python or R for data analysis, and Tableau or Power BI for data visualisation. You might also work with A/B testing platforms and product analytics tools like Google Analytics or Mixpanel to monitor performance and user behaviour.</p>
                    <p>On the non-technical side, you’ll communicate insights to various teams, helping to translate complex data into clear, strategic recommendations. Your ability to balance both technical and non-technical aspects will be essential in ensuring our products meet customer needs and business objectives. </p>
                </div>
            </div>
            <hr>
            <!-- Blog for insight analyst -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>INSIGHT ANALYST</b></h3>
                  <h5>Ananya Chandrasekar, <span class="w3-opacity">23rd August, 2024</span></h5>
                </div>

                <div class="w3-container">
                    <p>As an Insight Analyst at Sky, you will be instrumental in transforming data into actionable insights that drive strategic decision-making and business improvement. Your role involves analysing complex datasets to uncover trends, patterns, and opportunities that support Sky’s objectives and enhance overall performance.</p>
                    <p>You will be responsible for collecting, processing, and interpreting data from various sources, using advanced analytical techniques and tools. Your work will include creating detailed reports, dashboards, and visualisations that clearly communicate findings to stakeholders and facilitate data-driven decisions.</p>
                    <p>Collaboration with different teams, such as marketing, finance, and product development, will be key as you provide insights and recommendations that inform strategy and optimise operations. You will also work on developing and refining analytical models to support forecasting, trend analysis, and performance evaluation.</p>
                    <p>Your role will require a strong understanding of statistical methods, data manipulation, and business intelligence tools. Staying up-to-date with industry trends and advancements in data analysis will be essential to apply innovative approaches and continuously improve analytical processes.</p>
                    <p>Your expertise will be crucial in providing Sky with valuable insights that drive business growth, enhance customer experiences, and support the company’s strategic goals.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry for product owner -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRODUCT OWNER</b></h3>
                  <h5>Sophie Kibble, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                    <p>As a Product Owner at Sky, you will be at the forefront of product development, acting as the bridge between business stakeholders and the development team. You will be responsible for defining the product vision, setting priorities, and ensuring that the product delivers maximum value to our customers. Your role will involve gathering and refining requirements, creating and managing the product backlog, and guiding the development team through the delivery process.</p>
                    <p>You will work closely with stakeholders across the business to understand their needs and translate them into clear, actionable user stories and acceptance criteria. Your ability to balance customer needs with business goals and technical constraints will be key to driving the success of the product.</p>
                    <p>Additionally, you will be responsible for making data-driven decisions, monitoring product performance, and adapting the product roadmap as needed to align with business objectives. Your strong communication skills and ability to collaborate with cross-functional teams will be crucial in delivering products that meet customer expectations and support Sky's strategic goals.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry for product manager -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRODUCT MANAGER</b></h3>
                  <h5>Burhan Abeid, <span class="w3-opacity">23rd August, 2024</span></h5>
                </div>

                <div class="w3-container">
                    <p>As a Product Manager at Sky, you will be instrumental in shaping and delivering exceptional products that meet our customers' needs and drive business growth. You will be responsible for defining the product vision and strategy, ensuring alignment with Sky’s overall objectives.</p>
                    <p>Your role involves working closely with cross-functional teams, including engineering, design, and marketing, to develop and launch products that deliver value and meet market demands. You will manage the product lifecycle from ideation through to launch and beyond, ensuring that each stage is executed effectively and efficiently. This includes gathering and prioritising product requirements, developing detailed roadmaps, and overseeing the execution of projects.</p>
                    <p>You will engage with stakeholders and customers to gather insights and feedback, which will inform product decisions and iterations. Your ability to analyse market trends, competitive landscape, and customer needs will drive strategic product enhancements and innovations.</p>
                    <p>Collaboration with various teams will be key, as you will work to ensure that all aspects of product development align with the strategic goals of the organisation. Additionally, you will monitor product performance and make data-driven decisions to optimise outcomes and ensure ongoing success.</p>
                    <p>Your leadership and vision will be crucial in delivering impactful products that enhance customer experiences and contribute to Sky's continued growth and success.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry for scum master -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>SCRUM MASTER</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                    <p>As a Scrum Master at Sky, you will play a critical role in facilitating Agile practices within our dynamic teams. You will guide and support multiple cross-functional teams to ensure the efficient delivery of high-quality products and services.</p>
                    <p>In this position, you will lead and facilitate Scrum events such as Daily Stand-ups, Sprint Planning, Sprint Reviews, and Retrospectives to keep them productive and focused. You will provide coaching on Scrum principles and Agile practices, helping team members to self-organise and enhance their performance. Identifying and removing any impediments that may hinder the team's progress will be a key part of your role, ensuring a smooth workflow and timely delivery.</p>
                    <p>Promoting a collaborative and supportive team environment will be essential, as you encourage open communication and effective cooperation among team members and stakeholders. You will work closely with Product Owners to align team priorities with business goals and ensure a clear and actionable product backlog. Additionally, you will drive a culture of continuous improvement by regularly evaluating team processes and performance and implementing necessary enhancements.</p>
                    <p>Your leadership will be instrumental in fostering accountability, transparency, and innovation, all contributing to Sky's mission of delivering outstanding customer experiences and driving business success.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry for econometrician -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>ECONOMETRICIAN</b></h3>
                  <h5>Lundrim Shabani, <span class="w3-opacity">23rd August, 2024</span></h5>
                </div>

                <div class="w3-container">
                    <p>As an Econometrician at Sky, you will play a key role in leveraging advanced statistical and econometric methods to drive data-informed decision-making across the organisation. Your primary responsibility will be to analyse complex datasets to uncover insights that support strategic initiatives and optimise business performance.</p>
                    <p>You will apply econometric models and techniques to evaluate trends, forecast future outcomes, and assess the impact of various factors on business metrics. This involves designing and conducting rigorous analyses, interpreting results, and presenting findings in a clear and actionable manner.</p>
                    <p>Collaboration with different departments, such as marketing, finance, and product development, will be essential as you provide data-driven recommendations and support for various projects. You will also be responsible for ensuring the accuracy and reliability of your analyses, maintaining data integrity, and developing methodologies that enhance the robustness of your forecasts.</p>
                    <p>Your role will involve staying up-to-date with the latest developments in econometrics and data science, continuously refining your techniques, and applying innovative approaches to complex problems. By translating quantitative insights into strategic advice, you will help shape Sky’s business strategies and drive informed decision-making.</p>
                    <p>Your expertise will be crucial in supporting Sky’s objectives and ensuring that data-driven insights contribute effectively to the company's growth and success.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry for pricing/trading exec -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRICING/TRADING EXEC</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                    <p>As a Pricing/Trading Executive at Sky, you will be central to managing and optimising our pricing strategies and trading operations. Your role involves analysing market trends, competitive pricing, and consumer behaviour to develop and implement effective pricing strategies that maximise revenue and market share.</p>
                    <p>You will work closely with various teams, including finance, marketing, and product management, to ensure that pricing strategies align with business objectives and market conditions. Your responsibilities include monitoring pricing performance, conducting pricing analyses, and adjusting strategies based on data-driven insights and market dynamics.</p>
                    <p>In addition to pricing, you will oversee trading activities, ensuring that our trading practices are efficient and aligned with market opportunities. This includes managing trading workflows, optimising trading strategies, and evaluating the performance of different trading channels.</p>
                    <p>Your role will require a keen understanding of market trends, competitive landscapes, and internal data to make informed decisions and recommendations. You will be responsible for developing and maintaining pricing models, forecasting demand, and ensuring that pricing strategies are effectively communicated and implemented across the organisation.</p>
                    <p>Your analytical skills and strategic mindset will be crucial in driving Sky’s pricing and trading success, contributing to the company's overall growth and competitive positioning.</p>
                </div>
            </div>
            <hr>

      <!-- Centered section -->
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="w3-card-4 w3-margin" style="background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
            <div class="w3-container">
              <h3 style="border-bottom: 2px solid #ddd; padding-bottom: 10px; margin-bottom: 20px;">Add your experience!</h3>
              <form>
                <div class="form-group" style="margin-bottom: 15px;">
                  <label for="inputJobRole">Job role</label>
                  <input type="text" class="form-control" id="inputJobRole" style="border-radius: 4px;">
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                  <label for="inputName">Name</label>
                  <input type="text" class="form-control" id="inputName" style="border-radius: 4px;">
                </div>
                <div class="form-group" style="margin-bottom: 15px;">
                  <label for="inputJobDescription">Description of role</label>
                  <textarea class="form-control" id="inputJobDescription" rows="4" style="border-radius: 4px;"></textarea>
                </div>
                <button style="padding: 15px; margin-top: 10px; margin-bottom: 10px; width: 100%;" type="submit" class="btn btn-primary btn-lg">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}