{% extends "layout.html" %}
{% block body_content %}
  <div class="container">
      <div class="text-center">
        <h1><strong>Meet The Grads</strong></h1>
      </div>

      <div class="row">
          <div class="col-sm-10 text-center">
            <p>Welcome to our "Meet the Graduates" page, where we proudly showcase the achievements and aspirations of our recent graduates. Here, you can explore the diverse stories of our alumni, each one highlighting their unique journeys, academic successes, and future ambitions. Discover how their experiences here have shaped their careers and lives beyond graduation.</p>
          </div>

          <div class="col-sm-2 my-auto">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Add your experience!
            </button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Add your experience!</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>

                      <div class="modal-body">
                        <form>

                            <div class="form-group" style="margin-bottom: 15px;">
                              <label for="inputJobRole">Job role</label>
                              <input type="text" class="form-control" id="inputJobRole" style="border-radius: 4px;">
                            </div>

                            <div class="form-group" style="margin-bottom: 15px;">
                              <label for="inputName">Name</label>
                              <input type="text" class="form-control" id="inputName" style="border-radius: 4px;">
                            </div>

                            <div class="form-group" style="margin-bottom: 15px;">
                              <label for="inputJobDescription">Description of role</label>
                              <textarea class="form-control" id="inputJobDescription" rows="4" style="border-radius: 4px;"></textarea>
                            </div>

                            <button style="padding: 15px; margin-top: 10px; margin-bottom: 10px; width: 100%;" type="submit" class="btn btn-primary btn-lg">Submit</button>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
      </div>

      <div class="row">
        <div class="col-12">

            <!-- Blog for billy -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>PRODUCT INSIGHT ANALYST</b></h3>
                <h5 class="card-subtitle mb-2">Billy Stanhope, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">My name is Billy and I'm a Product Insight Analyst</p>
                <p class="card-text">Product Insight Analysts collaborate with cross-functional teams to identify key insights and present them in a concise and impactful manner. As an analyst, your role is to dive deep into the data, uncover hidden patterns, and provide actionable insights that can drive product improvements.</p>
                <p class="card-text">In my spare time I train for Muay Thai, play video games, go to the gym, and fancy myself a cook!</p>

              </div>
            </div>
            <hr>

            <!-- Blog for Charley -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>CYBER SECURITY SPECIALIST</b></h3>
                <h5 class="card-subtitle mb-2">Charley Hobbs, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">Hi, I'm Charley</p>
                <p class="card-text">As a Cyber Security Specialist I am primarily responsible for monitoring and responding to security incidents. I analyze security alerts, investigate potential threats, and take swift actions to mitigate risks. Cybersecurity engineers focus on designing, implementing, and maintaining security solutions and infrastructure.</p>
                <p class="card-text">My hobbies include playing football and golf on the weekends, as well as going to the gym.</p>
              </div>
            </div>
            <hr>

            <!-- Blog for Cameron -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>GEN AI SOFTWARE ENGINEER</b></h3>
                <h5 class="card-subtitle mb-2">Cameron Duff, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">My name is Cameron and I am a Associate Softwre Engineer working on AI in the Technology Discovery Team</p>
                <p class="card-text">Generative AI engineers often work on projects that involve generating text, such as creating AI chatbots or question-answering systems. Therefore, a deep understanding of NLP is crucial.</p>
                <p class="card-text">I studied Information Technology Management for Business at Loughborough University.</p>
                <p class="card-text">My hobbies mostly include training for 400m sprints as well as cooking.</p>
              </div>
            </div>
            <hr>

            <!-- Blog for Mayson -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>TRANSFORMATION ANALYST</b></h3>
                <h5 class="card-subtitle mb-2">Mayson Taylor, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">Hi, I'm Mayson and I'm currently about to start my first rotation as a transformation analyst.</p>
                <p class="card-text">As a transformation analust I am responsible for identifying and analyzing business processes, identifying areas for improvement, and developing strategies for successful transformation. I work closely with stakeholders and cross-functional teams to implement changes and drive business growth.</p>
                <p class="card-text">I studied as an undergrad in Philosophy at university and then completed my masters in Data Science. In my spare time I like gardening, art, and fantasising about living on a river boat</p>
              </div>
            </div>
            <hr>

            <!-- Blog for Abi -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>SERVICE DELIVERY ANALYST</b></h3>
                <h5 class="card-subtitle mb-2">Abi Green, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">My name is Abi and I am currently a Service Delivery Analyst.</p>
                <p class="card-text">As an IT Service Delivery Analyst I am responsible for managing impacts to IT service, ensuring changes, incidents, risks and issues are well managed as well as running effective problem management and continuous service improvement processes</p>
                <p class="card-text">On my free weekends I travel down to Newcastle to surf as well as taking part in beach combing.</p>
              </div>
            </div>
            <hr>

            <!-- Blog for Ben -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>CYBER SECURITY GRADUATE</b></h3>
                <h5 class="card-subtitle mb-2">Benjamin Tossell, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">I studied War Studies at Kings College London, and I did a module on cyber security. I looked at it through the lens of state relations and how it is used as soft power. The module then went on to discuss ransomware, and I was fascinated by the sophistication of the groups, especially their customer service teams.</p>
                <p class="card-text">I have done rotations in the SDL Team as a Coach and Threat Intelligence as an analyst.</p>
                <p class="card-text">From the SDL Team, I learnt how Sky works as a business and how it is connected; I had a really good insight into the product section through the cyber lens. </p>
                <p class="card-text">For Threat intelligence, I learnt to think more independently. This was my first experience in central cyber, so I have become more connected with the central cyber teams. </p>
              </div>
            </div>
            <hr>

            <!-- Blog for Trinity -->
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><b>CYBER ANALYST</b></h3>
                <h5 class="card-subtitle mb-2">Trinity Hill, <span class="text-muted">23rd August, 2024</span></h5>

                <p class="card-text">Before joining the graduate scheme at Sky I studied Politics and Spanish at the University of Bristol so not exactly a direct path towards cybersecurity. As part of my Politics degree I decided to focus my dissertation on Cyberwarfare in the Russia-Ukraine War and its implications for the future which led me to applying to cybersecurity graduate schemes across the board. Sky looked pretty epic and hear I am!</p>
                <p class="card-text">I began the graduate scheme in the Security Consultancy team which was split into 3 sub-sections: Training & Awareness; Analysts; and Consultancy. From here I went on to join the Threat Intelligence team for my second rotation. </p>
                <p class="card-text">The biggest lesson I have learnt from my time at Sky so far is probably the importance of going around and meeting people and learning about what all of the different teams do. This is first of all for the reason of building relationships with people from across the business but also so that you can understand why your team does what they do and how this links to the bigger picture.</p>
              </div>
            </div>
        </div>
  </div>
{% endblock %}