{% extends "layout.html" %}
{% block body_content %}
  <div class="container">
      <div class="text-center">
        <h1>Meet the roles</h1>
      </div>

      <div class="row">
        <div class="col-8">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
              <div class="w3-container">
                <h3><b>ASSOCIATE SOFTWARE ENGINEER</b></h3>
                <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
              </div>

              <div class="w3-container">
                <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                  tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
              </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>DATA SCIENTIST</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRODUCT OWNER</b></h3>
                  <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>MARKETING TECHNOLOGY LEAD</b></h3>
                  <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>SCRUM MASTER</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>ASSOCIATE SOFTWARE ENGINEER</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRODUCT OWNER</b></h3>
                  <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>MARKETING TECHNOLOGY LEAD</b></h3>
                  <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>SCRUM MASTER</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>ASSOCIATE SOFTWARE ENGINEER</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>PRODUCT OWNER</b></h3>
                  <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>MARKETING TECHNOLOGY LEAD</b></h3>
                  <h5>John Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <div class="w3-container">
                  <h3><b>SCRUM MASTER</b></h3>
                  <h5>Jane Doe, <span class="w3-opacity">23rd August, 2014</span></h5>
                </div>

                <div class="w3-container">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed
                    tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
            <hr>
      </div>

        <div class="col-4">
          <div class="w3-card-4 w3-margin w3-white">
            <div class="w3-container">
              <h3>Add your experience!</h3>
                <form>
                    <div class="form-group">
                        <label for="inputJobRole">Job role</label>
                        <input type="jobRole" class="form-control" id="inputJobRole">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="name" class="form-control" id="inputName">
                    </div>
                    <div class="form-group">
                        <label for="inputJobDescription">Description of role</label>
                        <input type="jobDescription" class="form-control" id="inputJobDescription">
                    </div>
                    <button style="padding: 15px;" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}