{% extends "layout.html" %}
{% block body_content %}

    <h1 class="text-center">Sky Knowledge Bank</h1>

    <div class="container-fluid text-center">
        <!-- Will automate with backend -->
        <input type="text" id="myInput" onkeyup="tableSearchFunction()" placeholder="Search for terms...">

        <div id="myBtnContainer">
          <button class="btn active" onclick="filterSelection('all')" style="border: solid transparent;"> Show all</button>
          {% for tag in tags %}
            {% if tag != '' %}
                <button class="btn" onclick="filterSelection('{{tag}}')" style="border: solid transparent;">{{tag}}</button>
            {% endif %}
          {% endfor %}
        </div>
        
        <div class="container">
          <table id="glossaryTable" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
              </tr>
            </thead>
            <tbody>
              {% for term in glossary_list %}
                {% if term|length > 2 %}
                    <tr class="filter {{ term[2] }}">
                        <th scope="row">{{ term[0] }}</th>
                        <td>{{ term[1] }}</td>
                    </tr>
                {% else %}
                    <tr class="filter">
                        <th scope="row">{{ term[0] }}</th>
                        <td>{{ term[1] }}</td>
                    </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        

        <script>
          filterSelection("all")

          function filterSelection(c) {
            console.log(c);
            var x, i;
            x = document.getElementsByClassName("filter");
            if (c == "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
              RemoveClass(x[i], "show");
              if (x[i].className.indexOf(c) > -1) AddClass(x[i], "show");
            }
          }

          // Show filtered elements
          function AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
              if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
              }
            }
          }

          // Hide elements that are not selected
          function RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
              while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
              }
            }
            element.className = arr1.join(" ");
          }

          // Add active class to the current control button (highlight it)
          var btnContainer = document.getElementById("myBtnContainer");
          var btns = btnContainer.getElementsByClassName("btn");
          for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
              var current = document.getElementsByClassName("active");
              current[0].className = current[0].className.replace(" active", "");
              this.className += " active";
            });
          }


          function tableSearchFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("glossaryTable");
          tr = table.getElementsByTagName("tr");

          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("th")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }

    </script>
{% endblock %}