{% extends "layout.html" %}
{% block body_content %}

    <h1 class="text-center">Sky Knowledge Bank</h1>

    <div class="container-fluid text-center">
        <!-- Will automate with backend -->
        <input type="text" id="myInput" onkeyup="tableSearchFunction()" placeholder="Search for terms...">
        <table id="glossaryTable" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Term</th>
                    <th scope="col">Definition</th>
                </tr>
            </thead>
            <tbody>
                {% for term in glossary_list %}
                    <tr>
                        <th scope="row">{{ term[0] }}</th>
                        <td>{{ term[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
        function tableSearchFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("glossaryTable");
          tr = table.getElementsByTagName("tr");

          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("th")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>

{% endblock %}